flows3.json
[{"id":"5171aa70.b0fe54","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"52293dec.0659f4","type":"inject","z":"5171aa70.b0fe54","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":200,"wires":[["a50d8b5d.5119f8"]]},{"id":"a50d8b5d.5119f8","type":"function","z":"5171aa70.b0fe54","name":"Payload","func":"msg.headers={\n    deviceKey: \"4Sgpwp0KJZ5KmkpR\"\n};\nmsg.payload= \"Temperature,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["ad12056e.968c48"]]},{"id":"ad12056e.968c48","type":"http request","z":"5171aa70.b0fe54","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D9lDNvag/datapoints.csv","tls":"","proxy":"","authType":"","x":470,"y":200,"wires":[["620d64c3.0b926c","d057f30.d703d1"]]},{"id":"620d64c3.0b926c","type":"http response","z":"5171aa70.b0fe54","name":"","statusCode":"","headers":{},"x":640,"y":200,"wires":[]},{"id":"d057f30.d703d1","type":"debug","z":"5171aa70.b0fe54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":280,"wires":[]}]